body {
	display: relative;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	background-color: #9E9CA5;
}

#main {
	background-color: #8146c5b6;
}

#title {
	font-family: "Noto Sans JP", sans-serif;
	text-align: center;
}

p {
	font-style: italic;
	font-size: 12px;
	text-align: center;
	font-family: "Noto Sans JP", sans-serif;
}

#img-div {
	display: flex;
	max-width: 60%;
	margin: 0 auto;
}

#image {
	justify-content: center;
	max-width: 100%;
	height: auto;
	display: block;

}

#tribute-info {
	width: 100%;
	margin: 0 auto;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}



h3 {
    background-color: #c0d3e7;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    margin: 15px 50px;
	
}

.trib-section {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	
}

#moreinformation {
	text-align: center;
}

ul {
	text-align: left;
	list-style-type: none;
}

li {
	padding: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}