body {
<<<<<<< HEAD
	display: relative;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
=======
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
>>>>>>> b50987bdc096591f6ed0b218e0d458812fb274f1
	background-color: #9E9CA5;
}

#main {
	background-color: #8146c5b6;
}

#title {
	font-family: "Noto Sans JP", sans-serif;
	text-align: center;
}

p {
	font-style: italic;
	font-size: 12px;
	text-align: center;
	font-family: "Noto Sans JP", sans-serif;
}

#img-div {
	margin: 0 auto;
	display: flex;
<<<<<<< HEAD
	max-width: 60%;
	margin: 0 auto;
=======
	justify-content: center;
>>>>>>> b50987bdc096591f6ed0b218e0d458812fb274f1
}

#image {
	width: 100%;
	max-width: 650px;
	height: auto;
	flex-basis: ;
	

}

#tribute-info {
	width: 100%;
	margin: 0 auto;	
	padding: 15px;
}

#information {
	display: flex;
<<<<<<< HEAD
	flex-direction: column;
=======
	flex-direction: column; 
>>>>>>> b50987bdc096591f6ed0b218e0d458812fb274f1
	justify-content: center;
}



h3 {
    background-color: #c0d3e7;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    margin: 15px 50px;
<<<<<<< HEAD
	
}

.trib-section {
	width: 60%;
	text-align: center;
=======

    
}

.works {
	width: 75%;
	margin: 0 auto;

	
}

.awards {
	width: 75%;
>>>>>>> b50987bdc096591f6ed0b218e0d458812fb274f1
	margin: 0 auto;
	
}

#moreinformation {
	text-align: center;
}

ul {
	text-align: left;
	list-style-type: none;
}

li {
	padding: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}